.logo{
	position:absolute;
}

.nav-mobile--open .nav-mobile__logo {
    left: -50vw
}

.nav-mobile--open .nav-mobile__toggle {
    right: calc(70vw + 16px)
}

@media screen and (min-width: 550px) {
    .nav-mobile--open .nav-mobile__toggle {
        right:400px
    }
}

.nav-mobile--open .nav-mobile__close {
    display: block;
}
.nav-mobile__close {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 10;
}
.nav-mobile--open .nav-mobile__content {
    right: 0
}

.nav-mobile__search {
    border-bottom: 1px solid #151515;
    height: 49px
}

.nav-mobile__search input[type='search'] {
    border: none;
    line-height: 49px;
    padding: 0 18px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box
}

.nav-mobile__search button {
    background: none;
    border: none;
    font-size: 0;
    height: 20px;
    position: absolute;
    right: 18px;
    top: 10px;
    width: 20px
}

.nav-mobile__search button:focus {
    outline: none
}

.nav-mobile__search .nav-mobile__search__button:before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    border: 2px solid #151515;
    position: absolute;
    left: 8px;
    top: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}

.nav-mobile__search .nav-mobile__search__button:after {
    background-color: #151515;
    height: 7px;
    width: 3px;
    position: absolute;
    content: '';
    right: -1px;
    bottom: -4px;
    transform: rotate(-45deg)
}

.nav-mobile__search .nav-mobile__search__clear {
    top: 15px;
    display: none
}

.nav-mobile__search .nav-mobile__search__clear:before {
    content: '';
    display: block
}

.nav-mobile__content {
    -webkit-box-shadow: -4px 0 16px rgba(0,0,0,.4);
    -moz-box-shadow: -4px 0 16px rgba(0,0,0,.4);
    -ms-box-shadow: -4px 0 16px rgba(0,0,0,.4);
    -o-box-shadow: -4px 0 16px rgba(0,0,0,.4);
    box-shadow: -4px 0 16px rgba(0,0,0,.4);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: #fff;
    height: 100%;
    max-height: 100vh;
    overflow: hidden;
    position: fixed;
    right: -100%;
    top: 0;
    width: 70vw;
    max-width: 380px;
    z-index: 10;
    -webkit-backface-visibility: hidden
}

.nav-mobile__content>.nav-mobile__menu__container {
    height: calc(100vh - 158px)
}

.flexbox .nav-mobile__content>.nav-mobile__menu__container {
    height: auto
}

.flexbox .nav-mobile__content {
    /* display: -webkit-box; */
    display: -moz-box;
    display: box;
    /* display: -webkit-flex; */
    display: -moz-flex;
    display: -ms-flexbox;
    /* display: flex; */
    /* -webkit-box-orient: vertical; */
    -moz-box-orient: vertical;
    box-orient: vertical;
    /* -webkit-box-direction: normal; */
    -moz-box-direction: normal;
    box-direction: normal;
    /* -webkit-flex-direction: column; */
    -moz-flex-direction: column;
    /* flex-direction: column; */
    -ms-flex-direction: column;
}

.nav-mobile__menu__container {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch
}

.flexbox .nav-mobile__menu__container {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.nav-mobile__menu {
    margin: 0;
    padding: 0
}

.nav-mobile__menu li {
    margin: 0;
    padding: 0;
    position: relative
}

.nav-mobile__menu li a {
    border-top: 1px solid #f5f5f5;
    color: #151515;
    display: block;
    position: relative;
    height: 54px;
    line-height: 54px;
    padding: 0 18px;
    text-decoration: none;
    font-size: 16px
}


.custom__input:checked + .custom__checkbox::before {
    left: 25px;
    background: #0288d1;
}
.custom__checkbox::before {
    content: '';
    position: absolute;
    top: -3px;
    left: -4px;
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 50%;
    -webkit-transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.51);
    -webkit-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.51);
}
.custom__checkbox {
    display: inline-block;
    position: relative;
    width: 45px;
    height: 16px;
    border-radius: 8px;
    background: rgb(195, 195, 195);
    -webkit-transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    vertical-align: middle;
    cursor: pointer;
    margin: 10px 14px 13px;
}

#rig li.cardTemplate {
	display: none;
}
header {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
    left: 0;
    right: 0;
    z-index: 1;
    position: fixed;
    height: 40px;
    box-sizing: border-box;
    top: 0px;
    background-color: white;
  }
.header-wrapper {
    left: 10px;
    right: 10px;
    top: 0;
    z-index: 2;
    position: fixed;
    transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.header-title {
    font-size: 18px;
    line-height: 64px;
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
}
.header-wrapper .header-title {
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
}
.hamburger-button, .search-button, .search-close-button {
    background: transparent center center no-repeat;
    background-size: 24px 24px;
    cursor: pointer;
    border: 0;
    display: block;
    overflow: hidden;
    top: 0px;
    width: 35px;
    z-index: 2;
}

.nav-icon .nav-icon-bars {
    height: 22px;
    width: 26px;
    position: relative;
}
.nav-icon {
    float: right;
}
.nav-icon span {
    display: block;
    height: 3px;
    width: 26px;
    background: #6f6c65;
    border-radius: 1px;
    opacity: 1;
    transform: rotate(0deg);
    transition: opacity .3s,transform .3s ease-in-out;
    margin: 3px 0;
    transform-origin: left center;
}

.hamburger-button .material-spec-icon {
    color: #fff;
    width: 24px;
    vertical-align: middle;
}

#rig {
	margin-top: 35px;
	padding:0;
	font-size:0; /* Remember to change it back to normal font size if have captions */
	list-style:none;
}
#rig li {
	display:inline-block;
	*display:inline;/*for IE6 - IE7*/
	width:25%;
	vertical-align:middle;
	box-sizing:border-box;
	margin:0;
	padding:0;
}

/* The wrapper for each item */
.rig-cell {
	margin:12px;
	box-shadow:0 1px 4px rgba(0,0,0,0.4);
	padding:16px;
	border:none;
	color:#555;
	background-color:white;
	text-decoration:none;
	text-align:center;
	display:block;
	position: relative;
	overflow:hidden;
}

.rig-cell h3 {
	font-size:18px;
	font-family:'Oswald', sans-serif;
	font-weight:normal;
	margin-bottom: 6px;
}
.rig-cell div {
	font-size:16px;
	font-family:cursive;
	font-weight:lighter;
}

/* If have the image layer */
.rig-img {
	width:100%;
}
.rig-img:after{
	position:absolute;
	top:20px;right:20px;bottom:20px;left:20px;
	border:1px solid #fff;
	content:'+';
	color:white;
	padding-top:14%;
	font-size:30px;
	opacity:0;
	filter:alpha(opacity=0);
	transition:all 0.3s;
	transform:scale(0);
}

#rig li:hover .rig-img:after {
	opacity:1;
	transform:scale(1);
}

/* If have the overlay layer */
.rig-overlay {
	position: absolute;
	display:block;
	top:0;left:0;bottom:0;right:0;
	margin:auto;
	background:white;
	background-size:50px 50px;
	opacity:0;
	filter:alpha(opacity=0);/*For older IE*/
	transition:all 0.3s;
}
#rig li:hover .rig-overlay {
	opacity:0.5;
}

@media (max-width: 9000px) {
	#rig li {width:25%;}
}

@media (max-width: 800px) {
	#rig li {width:33.33%;}
}

@media (max-width: 500px) {
	#rig li {width:50%;}
}

@media (max-width: 350px) {
	#rig li {width:100%;}
}

@media screen and (max-width: 1479px)
.header-wrapper {
    padding-left: 0;
}
